/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/
body {
  background:  #060ce9;
}

h1 {
  display: block;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 3rem;
}

button {
  background: gold;
  border: white;
  padding: 20px 30px;
  font-size: 1.5rem;
  text-align: center;
  color: #060ce9;
  text-shadow: 2px 2px 2px white;
  border-radius: 8px;
  box-shadow: inset 2px 2px 3px rgb(0 0 0 / 0.6),
    inset -2px -2px 3px rgb(0 0 0 / 0.6);
  display: block;
  margin: 0 auto;
}

button:hover {
  cursor: pointer;
  background-color: palegoldenrod;
}

button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

/* https://www.w3schools.com/howto/howto_css_loader.asp */
/* https://stackoverflow.com/questions/39745891/how-to-create-a-loader-in-javascript-waiting-for-a-function-to-end */

.loader {
  margin: auto;
  margin-top: 10%;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hide-loader{
display:none;
}

#jeopardy {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
  table-layout: fixed;
  font-family: monospace, Gill Sans, Trebuchet; 
  font-size: 20px;
  border: 5px solid navy;
}

#jeopardy tbody {
  padding: 10px 10px;
  text-align: center;
  background-color: skyblue;
  cursor: pointer;
  border: 5px solid navy;
}

#jeopardy thead {
  background-color: navy;
  color: white;
  text-align: center;
  table-layout: 20px;
}

#jeopardy td {
  border: 5px solid midnightblue;
}

#jeopardy tr {
  height: 100px;
}